<template>
    <section class="row">
        <div class="search__results__container">
            <div class="result__item">
                <h3>Branded Email Hosting</h3>
                <img src="../assets/images/email-marketing-icon-email-icon-1.png" alt="">
                <p  class="result__item__description">$5 per user per month</p>
            </div>
            <div class="result__item">
                <h3>Small Business Website using WordPress</h3>
                <img src="../assets/images/WordPress-Logo-Download-PNG.png" alt="">
                <p  class="result__item__description">Starting @ $2,500</p>
            </div>
            <div class="result__item">
                <h3>Hassle Free Hosting on AWS for WordPress</h3>
                <img src="../assets/images/cloud-server-png-hd@2x.png" alt="">
                <p  class="result__item__description">Starting @ $2,500</p>
            </div>
            <div class="result__item">
                <h3>Branded Email Hosting</h3>
                <img src="../assets/images/email-marketing-icon-email-icon-1.png" alt="">
                <p  class="result__item__description">$5 per user per month</p>
            </div>
            <div class="result__item">
                <h3>Small Business Website using WordPress</h3>
                <img src="../assets/images/WordPress-Logo-Download-PNG.png" alt="">
                <p  class="result__item__description">Starting @ $2,500</p>
            </div>
            <div class="result__item">
                <h3>Hassle Free Hosting on AWS for WordPress</h3>
                <img src="../assets/images/cloud-server-png-hd@2x.png" alt="">
                <p  class="result__item__description">Starting @ $2,500</p>
            </div>
            <div class="result__item">
                    <h3>Branded Email Hosting</h3>
                    <img src="../assets/images/email-marketing-icon-email-icon-1.png" alt="">
                    <p  class="result__item__description">$5 per user per month</p>
                </div>
                <div class="result__item">
                    <h3>Small Business Website using WordPress</h3>
                    <img src="../assets/images/WordPress-Logo-Download-PNG.png" alt="">
                    <p  class="result__item__description">Starting @ $2,500</p>
                </div>
                <div class="result__item">
                    <h3>Hassle Free Hosting on AWS for WordPress</h3>
                    <img src="../assets/images/cloud-server-png-hd@2x.png" alt="">
                    <p  class="result__item__description">Starting @ $2,500</p>
                </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'gridResults'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*grid results from search */
.search__results__container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3,calc(33.33333% - .66em));
  width: 100%;
}
.result__item {
  background-color: white;
  padding: 1em;
  text-align: center;
}

.result__item h3 {
  margin: 0;
  height: 75px;
  overflow: hidden;
  text-align: center;
}
.result__item img {
  width: 90%;
  max-height: initial;
}

@media (min-width: 501px) and (max-width:1024px){
  .search__results__container {
    grid-template-columns: repeat(2, calc(50% - .5em));
  }
}

@media (max-width: 500px){
  .search__results__container {
      grid-template-columns: repeat(1, calc(100% ));
  }
}
/*grid results from search */
</style>
