<template>
    <section class="row search__bar">
        <div class="search__bar__container">
            <form class="search__bar form" action="#" method="post" >
                    <label class="search__bar label">Quick Search</label>
                    <input type="search" placeholder="" class="search__bar__input" />
                    <input type="submit" class="btn search-submit" value="Search" onclick="return false">
            </form>
        </div>
        <div class="search__bar__pagination">
            <div class="search__bar__pagination__results">
                Showing 1 to 15 of 345
            </div>
            <div class="search__bar__pagination__selectors">
                <div class="show__per-page">
                    Show <span class="per-page"> 15 per page</span>
                </div>
                <div class="search__bar__arrows__container">
                    <img src="../assets/images/icons8-sort-left-filled-50.png" alt="arrow less results" role="button">
                    <img src="../assets/images/icons8-sort-right-filled-50.png" alt="arrow more results" role="button">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'searchBar'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*search bar */
.row.search__bar {
  padding-top: 0;
  padding-bottom: 0;
}
.search__bar__container {
  background: #303030;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  padding: 3em 1em;
}
input.btn.search-submit {
  width: 0;
  height: 0;
  visibility: hidden;
}

label.search__bar.label {
  font-size: 2em;
}

input.search__bar__input {
  height: 40px;
  padding-left: 1em;
  border-radius: 5px;
  margin-left: 1.5em;
  flex-basis: 350px;
}
form.search__bar.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search__bar__pagination {
  display: flex;
  width: 100%;
  background-color: #454545;
  color: white;
  padding: .5em 2em;
  font-size: 1.3em;

}
.search__bar__pagination__selectors,
.search__bar__pagination__results {
  flex: 1;
  display: flex;
}

.search__bar__pagination__results{
  align-items: center;
}
.search__bar__pagination__selectors {
  align-items: center;
  justify-content: flex-end;
}
span.per-page {
  color: #CCB96F;
}

@media (max-width: 768px){
  form.search__bar.form {
    flex-direction: column;
  }
  input.search__bar__input {
    flex-basis: auto;
  }
  .search__bar__pagination {
    flex-direction: column;
    padding: 1em 1em;
  }
  .search__bar__pagination__results{
    text-align: center;
    margin-bottom: 1em;
  }
  .search__bar__pagination__selectors, .search__bar__pagination__results {
    justify-content: center;
  }
  .search__bar__arrows__container {
    display: flex;
  }
}
/*search bar */
</style>
